# Enable with:
#   systemctl --user daemon-reload
#   systemctl --user enable kill-steam.service --now
[Unit]
Description=Kill Steam so it doesn't delay shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/sbin/pkill -x steam

[Install]
WantedBy=shutdown.target
