[diff]
  exclude = ["scripts"]
  pager = ""
  command = "git"
  args = ["--no-pager", "diff", "--no-index", "--word-diff=color"]
[status]
  exclude = ["scripts"]
[data]
{{- if eq .chezmoi.os "linux" }}
  monitor = { resolution = "{{- output "cat" (joinPath .chezmoi.homeDir ".cache/chezmoi/display-resolution")  | trim -}}" }
{{- end }}
