[diff]
  exclude = ["scripts"]
  command = "git"
  args = ["diff", "--no-index"]
[status]
  exclude = ["scripts"]
[data]
{{- if eq .chezmoi.os "linux" }}
  monitor = { resolution = "{{- output "cat" (joinPath .chezmoi.homeDir ".cache/chezmoi/display-resolution")  | trim -}}" }
{{- end }}
